/* #region Common */

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  padding: 2rem 0;
}

/* #endregion Common */

/* #region Debug */
.debug .container
{
  background-color: rgb(255, 166, 0);
}

.debug [class^='col-']
{
  height: 200px;
  background-color: palegreen;
  border: 1px dashed;
}

.debug .h-50
{
  height: 500px;
}

.debug .login,
.debug .logo,
.debug .menu
{
  border: 1px dashed;
}

.debug .container-sm
{
  background-color: palevioletred;
  height: 100%;
}
/* #endregion Debug */

/* #region Utilities */

.d-flex {
  display: flex;
}

.container-sm
{
  max-width: 800px;
  width: 60%;
  margin: auto;
  text-align: center;
  
}

h1 {
  padding: 2rem;
}

h2 {
  font-size: 2.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  
}


h3{
  font-size: 1.7rem;
  margin-top: -1.4rem;
  margin-bottom: 2rem;
}

.justify-content-between {
  justify-content: space-between;
}

/* Flex Grid */
.container
{
  max-width: 1170px;
  width: 80%;
  margin: auto;
  
}
.row {
  display: flex;
  /* negative margin */
}

[class^='col-']
{
  padding: 0 1rem;
}

.col-3{
  width: calc(100% / 12 * 3);
}
.col-4
{
  width: calc(100% / 12 * 4);
  padding-top: 5.5rem;
}
.col-8 {
  width: calc(100% / 12 * 8);
  
}


/* Spacings */

.py-3 {
  padding: 0.75rem 0;
}

/* Colors */
.bg_section {
  background-color: #ededed;
}

/* #endregion Utility */

body {
  font-family: 'gg sans' ,sans-serif;
}

/* #region Header */



.logo, .login {
  width: 20%;
}
.menu {
  width: 60%;
  text-align: center;
}

.menu-text{
   color: white;
   padding: 0 1.3rem;

}


.login {
  text-align: end;
}

.login-text{
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 1rem;
  border: none;
  background-color: white;
}

/* #endregion Header */

/* #region Main */


.jumbo {
  background-image: url(../assets/img/jumbo.png);
  background-size: 1350px;
  background-position: top;
  background-repeat: no-repeat;
}


.jumbotron {
  
  height: 450px; /* we might need to keep this */
  padding: 2rem 0;
  color: white;
}

p{
  padding-bottom: 1rem;
}

.btn {
  padding: 0.8rem 1.3rem;
  font-size: 1rem;
  border-radius: 1.3rem;
  border: none;
  text-decoration: none;
}

.first {
  background-color: white;
  color: black;
  margin-right: 1rem;
  
  
}

.second {
  background-color: black;
  color: white;
}


.third {
  background-color: #8ea1e1;
  color: white;
  ;
}

.item {
  width: 600px;
  height: 600px;
  
}

.h-50 {
  text-align: center;
}

/* #endregion Main */


/* #region Footer */

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

#site_footer {
  background-color: black;
  color: white;
  margin-top: 6rem;
}

#site_footer h2,
#site_footer h4 {
  color: #8ea1e1;
}

#site_footer .top {
  border-bottom: 1px solid var(--ds-purple);
  padding: 3rem 0 1rem 0;
}

#site_footer .lang {
  padding: 1rem 0;
}

#site_footer .lang img {
  width: 1.5rem;
  vertical-align: middle;
}

#site_footer .lang select {
  border: 0px;
  background-color: black;
  color: white;
}

#site_footer .top .social i{
  padding: 0 .25rem;
}

#site_footer .top h4,
#site_footer .top li {
  padding-bottom: .5rem;
}


#site_footer .bottom .row {
  justify-content: space-between;
  padding: 1rem 0 3rem 0;
}

#site_footer .bottom .register {
  background-color: #8ea1e1;
  padding: .5rem 1rem;
  border-radius: 20px;
}

.social {
  color: white;
}

hr {
  margin-left: 145px;
  width: 1050px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}

.title {
  padding-top: 0;
}

#site_footer ,h2 {
  padding-top: 0;
}